@keyframes move-around {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes patternRightAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}

@keyframes patternLeftAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(30px);
    }
}
@keyframes iconAnimation {
    0% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes letterAnimation{
    0%{
    opacity: 0;
    transform: rotateY(-90deg);
    }
    25%{
     opacity: 1;
     transform: rotateY(0deg);
    }
    50% {
        opacity: 1;
        transform: rotateY(-0deg);
    }
    75% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    100% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
}